<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<table border="2">
    <tr>
        <th>Player Name</th>
        <th>Player J.no</th>
        <th>Player pos</th>
    </tr>
    <tr *ngFor="cricket">
        <td>{{cricket}}</td>
        <td>{{cricket}}</td>
        <td>{{cricket}}</td>
        <td>{{cricket}}</td>
    </tr>
</table>
